:root{
    --color-red: #f38181;
    --color-grey: #ddd;
    --color-black: #333;
    --color-yellow: #fce38a;
    --color-green: #95e1d3;
    --color-white: #fff;
    --gradient: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

body{
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 100px;
}

.container{
    width: 1200px;
    margin:0 auto;
}

/*правила для header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation {
    min-width: 490px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    color: var(--color-green);
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    
}

.logo:hover {
    color: var(--color-red);
    transition: all 200ms linear;
}

.nav_link {
    color: var(--color-green);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: var(--color-white) 3px solid;
    display: block;
}

.nav_link:hover {
    color: var(--color-red);
    border-bottom: var(--color-red) 3px solid;
    transition: all 200ms linear;
}

/*правила для блоков заголовков*/
.first_line {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-transform: none;
       
}

.second_line {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 60px;
}

.second_line:after {
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--color-red);
    margin:0 auto;
    margin-top: 30px;
}

/* правила для списка сервисов*/
.services_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.list_element {
    width: 380px;
    height: 170px;
    position: relative;
}

.list_element::before {
    content:"";
    display: block;
    width: 80px;
    height: 32px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_alarm::before {
    background-image: url(../Pictures/ALARM.png);   
}

.icon_diagram::before {
    background-image: url(../Pictures/LINE\ GRAPH.png);
}

.icon_pc::before {
    background-image: url(../Pictures/COMPUTER\ _\ OK.png);
}

.icon_book::before {
    background-image: url(../Pictures/BOOK\ 2.png);
}

.icon_home::before {
    background-image: url(../Pictures/HOME.png);
}

.icon_digital::before {
    background-image: url(../Pictures/IMAGE.png);
}

.list_title {
    padding-left: 80px;
}

.line1 {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.line2 {
    font-size: 14px;
    line-height: 20px;
}

/* правила для параграфа team_description*/
.team_description {
    font-size: 14px;
    opacity: 0.7;
    line-height: 20px;
    text-align: center;
    display: block;
    padding: 40px 0 100px;
}

/*правила для карточек команды*/
.team_list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.team_list_item {
    position: relative;
}

.name, .skills {
    display: block;
    text-align: center;
    font-size: 16px;
}

.name {
    text-transform: uppercase;
    padding: 20px 0 10px;
}

.skills {
    opacity: 0.5;
    font-style: italic;
}

/*правила для фона соцсетей с градиентом*/
.fon_gradient {
    width: 380px;
    height: 470px;
    background: var(--gradient);
    position: absolute;
    opacity: 0;
    box-shadow: 8px 8px #95e1d3;
    transition: 200ms;
    display: flex;
    align-items: center;
}

.team_list_item:hover .fon_gradient {
    opacity: 1;
    transform: translate(-8px, -8px);
    transition: all 200ms linear;
    cursor: pointer;
}

.fon_menu {
    display: flex;
    justify-content: space-between;
    width: 231px;
    height: 56px;
    margin: 0 auto;
}

.icon {
    display: block;
    width: 56px;
    height: 56px;
    background-color: var(--color-yellow);
    border: none;
    color: var(--color-red);
}

.icon:hover {
    background-color: var(--color-green);
    transition: 200ms;
}

.facebook {
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Pictures/facebook.png);
}
.twitter {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Pictures/twitter.png);
} 
.printerest {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Pictures/printerest.png);
}
.instagram {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Pictures/instagram.png);
}

/*правила для footer*/
.footer { 
    height: 62px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--color-grey) 1px solid;
}

.ftr_txt {
    opacity: 0.8;
}

.txt_clr {
    color: var(--color-red)
}

/*стили для input*/
form {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

input[type="email"] {
    line-height: 40px;
    padding: 0;
    text-indent: 6px;
    width: 200px;
    border: 1px solid var(--color-grey);
}

input[type="submit"] {
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
}

input[type="submit"]:hover {
    transition: all 200ms linear;
    background-color: var(--color-white);
    color: var(--color-green);
    border: 1px solid var(--color-green);
    line-height: 38px;
}

