* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.wrapper {
    background-color: #e9f0fd;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    height: 90px;
}

.logo_mart {
    float: left;
    text-decoration: none; 
    font-size: 30px;
    color: #555252;
    line-height: 90px;
}

.logo_mart::first-letter {
    color: #1abc9c;
    font-weight: 700;
}

.menu {
    float: right;
}

.header__nav_list {
    list-style: none;
    margin: 0;
    line-height: 90px;
}

.nav__list_element {
   float: left;
}

.header__nav_item {
    text-decoration: none;
    font-size: 16px;
    color: #555252;
    font-weight: 800;
}

.logo_mart:hover, .header__nav_item:hover {
    color: #1abc9c;
}

.nav__list_element:not(:last-child) {
    margin-right: 35px;
}

.slider_container {
    background-image: url(../Pictures/slide1.png);
    background-repeat: no-repeat;
    position: relative;
    width: 1600px;
    height: 600px;
}

.slide1 {
    position: absolute;
}

.slide1:hover {
    opacity: 0.8;
}

.slider_nav {
    position: relative;
    height: 100%;
}

.slider_ctrl {
    position: absolute;
    width: 104px;
    height: 104px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
    opacity: 0.7;
}

.slider_ctrl:hover {
    opacity: 1;
}

.slider_ctrl_prev {
    left: 245px;
    background-image: url(../Pictures/button_prev.png);
}

.slider_ctrl_next {
    right: 245px;
    background-image: url(../Pictures/button_next.png);
}

.slider_heading {
    position: absolute;
    color: #fff;
    z-index: 100;
}

.h2 {
    font-size: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
}

.h3 {
    font-size: 24px;
    font-weight: 400;
    left: 430px;
    top: 310px;
}

.new_collection {
    padding-top: 100px;
}

.news_heading {
    text-align: center;
    font-size: 48px;
    opacity: 0.7;
    margin: 0 0 85px 0;
}

.news_heading::after {
    content:"";
    display: block;
    width:164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 30px auto 0;
}

/*правила для меню при :hover*/
.new_collection {
    padding: 90px 0;
}
.news {
    list-style: none;
    margin: 0;
}

.news_element {
    position: relative;
    width: 255px;
    height: 320px;
    font-size: 0;
}

.black_fon {
    z-index: 300;
    opacity: 0;
    position: absolute;
    width: 235px;
    height: 262px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 10px;
    top: 10px;
}

.black_fon_menu {
    position: relative;
    width: 166px;
    height: 107px;
    top: 80px;
    margin: 0 auto;
}



.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

.icon:hover {
    background-color: #1abc9c; 
}

.add_card:hover {
    background-color: #1abc9c; 
}

.like {
    background-image: url(../Pictures/icon1.png);
}

.random {
    background-image: url(../Pictures/icon2.png);
    left: 50%;
    transform: translate(-50%);
}

.clock {
    right: 0;
    background-image: url(../Pictures/icon3.png);
}

.add_card {
    position: absolute;
    width: 166px;
    height: 50px;
    bottom: 0;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: url(../Pictures/icon4.png);
}

.news_element:hover .black_fon {
    opacity: 1;
}



/*правила для крточек колекции*/
.info, .price {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    opacity: 0.7;
    margin: 0;
}

.news_element:hover p {
    background-color: #0be4b5;
}

.info {
    width: 200px;
    height: 40px;
    background-color: #323232;
    line-height: 40px;
}

.price {
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    line-height: 40px;
}



.news_element {
  float: left;
}

.news_element:not(:last-child) {
    margin-right: 30px;
}

.footer {
    height: 90px;
    background-color: #323232;
    text-align: center;
    line-height: 90px;
}

.footer_text {
    color:white;
}

.text_color {
    color: #46bfa9;
}