* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    margin-bottom: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
 .menu {
    padding-top: 40px;
    float:right;
 }

 .header__nav_list {
    list-style: none;
 }

.logo_mart {
    float:left;
    padding-top: 40px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    opacity: 0.7;
}

.logo_mart::first-letter {
    font-weight: 700;
    color: #1abc9c
}

.nav__list_element {
    display: inline-block;
}

.header__nav_list li:not(:last-child) {
    margin-right: 35px;
}

.nav__list_element a {
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.header a:hover {
    color: #1abc9c  
}

.catalog-item a {
    display: block;
    height: auto;
    overflow: hidden;
    transition: all 0.25s;
}

.catalog-item a:hover {
    background-color: #05ffcd;
    transition: all 2s;
}

.featured_products {
    text-align: center;
    font-size: 48px;
    opacity: 0.7;
    margin-bottom: 90px;
}

.featured_products::after {
    content:"";
    display: block;
    width: 164px;
    height: 7px;
    margin: 30px auto 0;
    background-color: #1abc9c;
}

.catalog {
    margin-bottom: 100px;
}

.catalog-wrapper {
    list-style: none;
}

.catalog-item {
    font-size: 0;
    float: left;
    max-width: 255px;
    margin-bottom: 30px;
    font-family: 'roboto' sans-serif;
}

.catalog-item:not(:nth-child(4n-0)) {
    margin-right: 30px;
}

.info {
    float: left;
    text-transform: uppercase;
    width: 200px;
    line-height: 40px;
    font-size: 18px;
    background-color: #323232;
    opacity: 0.9;
    color: #fff;
    text-indent: 10px;
}

.info:hover {
    opacity: 0.4;
    transition: all 1.5s;
}
.price {
    float: left;
    text-transform: uppercase;
    width: 55px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    background-color: #8c8c8c;
    opacity: 0.7;
    color: #fff;
}

img {
    border-radius: 100px 0 100px 0;
}

.news-list {
   
    max-width: 350px;
    margin-right: 30px;
    
}

.news-list {
    float: left;
}

.news-list:nth-child(3n-0) {
    margin-right: 0;
}

.catalog-wrapper {
    font-size: 0;
}

.description {
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    font-weight: 600;
    margin-bottom: 30px;
}

.heading {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.7;
    font-weight: 800;
}

.heading::after {
    content:"";
    display: block;
    width: 136px;
    height: 4px;
    background-color: #1abc9c;
    margin: 10px 0;
}

.button {
        width: 160px;
        height: 50px;
        border-radius: 3px;
        border: none;
        background-color: #4ec6ab;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        padding: 20px 42px;
    
}

.news {
    padding-bottom: 50px;
}

.button:hover {
    background-color: #5f5f5f;
}

